<html xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<style>
		.buttonStyle{
			color: white;
			border:none;
			background-color:green;
			text-align: center;
			margin: 1%;
			border-radius:5px;
			font-size: 30px;
			text-decoration: none;
		}
	</style>
</head>

<body>
	<div style= "display: inline;margin:0 auto">
		<button type="button" onclick="startLogin()" class="buttonStyle" >登录</button>
		<button type="button" onclick="startLogin()" class="buttonStyle" >注册</button>
		<button type="button" onclick="checkLogin(this)" class="buttonStyle">上传文件夹</button>
		<button type="button" onclick="checkLogin(this)" class="buttonStyle">多文件上传</button>
		<button type="button" onclick="checkLogin(this)" class="buttonStyle" >在线预览</button>
		<button type="button" onclick="checkLogin(this)" class="buttonStyle" >文件排序</button>
		<button type="button" onclick="checkLogin(this)" class="buttonStyle" >文件分类</button>
		<button type="button" onclick="clientDown(this)" class="buttonStyle" >Windows客户端</button>
		<button type="button" onclick="clientDown(this)" class="buttonStyle" >Android客户端</button>
	</div>
	<div th:if="${message}">
		<h2 th:text="${message}"/>
	</div>

	<div>
		<form method="POST" enctype="multipart/form-data" action="/">
			<table>
				<tr><td>请选择上传的文件:</td><td><input type="file" name="file" /></td></tr>
				<tr><td></td><td><input type="submit" value="上传文件" /></td></tr>
			</table>
		</form>
	</div>

	<table>
		<tbody th:each="file : ${files}">
			<tr>
				<td><a th:href="${file}" th:text="${file}" /></td>
				<td><button type="button" th:fileName = "${file}" onclick="deleFile(this)" style="color: white;
				border:none;background-color:red;text-align: center;display: inline-block;">Delete</button></td>
			</tr>
		</tbody>
	<table>

</body>
<script>


	function deleFile(obj){ 
		var path = obj.getAttribute("fileName");
		var arr = path.split("/");
		var fileName = arr[arr.length-1];
		window.location.href = window.location.protocol + '//' + window.location.host + "/delete/"+fileName;
	}

	function startLogin(){ 
		window.location.href = window.location.protocol + '//' + window.location.host + "/login";
	}

	function checkLogin(obj){
		//确认框
		var r=confirm(obj.innerHTML+"的功能需要登录之后才能使用，是否需要登录?");
		if (r==true)
		{
			startLogin();
		}
	}

	function clientDown(obj){
		alert(obj.innerHTML + "正在开发中，敬请期待");
	}
</script>
</html>
